*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}





form{
    display: flex;
    flex-flow: column nowrap;
    max-width: 400px;
    background-color: #000000c1;
    backdrop-filter: blur(100px);
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
   box-shadow: 0 5px 45px 5px #000; 
}
h1{
    text-align: center;
    color: white;
    margin: 9px 0px;
}

input{
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
    border-bottom: 2px  solid white;
    color: white;
    background:transparent;
    
}
input:focus{
    
    outline: none;
    border-bottom-color: #054ea7;
    
}
input::placeholder{
    color: #fff;
}
button{
    border: none;
    padding: 12px ;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    background: #c7d8e9;
    box-shadow: inset 0 0 0 0 #054ea7;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
   cursor: pointer;

}
button:hover{

    box-shadow: inset 50px 500px 0 0 #054ea7;
    color: rgb(255, 255, 255);
}
.link{
    color: white;
    text-decoration: none;
    margin: 5px 0;
    text-align: center;
}